body {
    font-family: sans-serif;
}
header{
    padding: 15px;
    margin: 15px;
    border: 3px solid palevioletred;
    border-radius: 50px;
    background-color:yellow;
    color:tomato;
}
nav a{
    padding: 5px;
    margin: 15px;
    border: 2px solid rgb(171, 219, 57);
    border-radius: 15px;
    background-color:rgb(240, 155, 248);
    color: rgb(31, 34, 179);
    font-size: 20px;
    text-decoration: none;
}
img{
    border-radius: 20px;
}
header a{
    text-decoration: none;
    color:tomato;
}
footer {
     padding: 5px;
    margin: 15px;
     border: 5px solid rgb(251, 0, 0);
    border-radius: 15px;
    background-color:rgb(29, 10, 175);
    color: rgb(24, 243, 0);
    font-size: 20px;
    text-decoration: none;

}
   h1 {
       padding: 5px;
       margin: 10px;
       border-radius:15px ;
       border:5px solid rgb(251, 0, 0) ;
       color: rgb(0, 23, 231);
       font-size: 35px;
   }
   h2 {
       padding: 5px;
       margin: 10px;
       border-radius:15px ;
       border:5px solid rgb(4, 251, 0) ;
       color: rgb(196, 0, 231);
       font-size: 35px;
       
   }
   

